<ion-header>
  <ion-toolbar>
    <ion-title>about_us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<ion-card-header class="myCardHeader">Mon Carte</ion-card-header>
<ion-card-content padding>
  <p>Nom: <strong>{{Carte.nom}}</strong></p>
  <p>Prenom: <strong>{{Carte.prenom}}</strong></p>
  <p>Email: <strong>{{Carte.email}}</strong></p>
  <p>Mon Photo:</p> <img src={{Carte.photo}}>
    <div >Riadh</div>
    <div >Ingenieur informatique</div>
</ion-card-content>
</ion-card>
</ion-content>
